extends layout

block header
  link(rel="stylesheet", href="/css/playlistStyle.css")

block content
  h4 Pick what duplicated songs should be removed
  p Select which duplicated songs you want to remove.
  table.bordered
    thead: tr
      th Remove?
      th Name
      th Album
      th Artist
      th Song ID
      th Length
    tbody
      each item in tracks
        tr
          td: input(type="checkbox")
